{% extends 'base.html.twig' %}

{% block title %}Plannings{% endblock %}

{% block body %}

           <div class="container">
        <h2 class="text-center mt-5 mb-3">Plannings Manager</h2>
        <div class="card">
            <div class="card-header">
            {% if (app.user.roles[0] is same as('ROLE_PROF')) or (app.user.roles[0] is same as('ROLE_ADMIN')) %}

                <a class="btn btn-outline-primary" href="{{ path('app_planning_new') }}"> 
                    Créer un nouveau planning 
                </a>
                {% else %}
                    <h5>Listes des plannings</h5>
                {% endif %}  

            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Date </th>
                        <th width="240px">Action</th>
                    </tr>
                    {% for planning in plannings %}
                    <tr>
                        <td>{{ planning.name }}</td>
                        <td>{{ planning.description }}</td>
                        <td>{{ planning.date ? planning.date|date('Y-m-d') : '' }}</td>
                        <td>
                            <form method="post" action="{{ path('app_planning_delete', {'id': planning.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <a
                                    class="btn btn-outline-info mt-2"
                                    href="{{ path('app_planning_show', {'id': planning.id}) }}">
                                    Afficher
                                </a>
                            {% if (app.user.roles[0] is same as('ROLE_PROF')) or (app.user.roles[0] is same as('ROLE_ADMIN')) %}

                                <a
                                    class="btn btn-outline-success mt-2"
                                    href="{{ path('app_planning_edit', {'id': planning.id}) }}">
                                    Editer
                                </a>
  
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planning.id) }}">
                                <button class="btn btn-outline-danger mt-2">Supprimer</button>
                            {% endif %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
  

{% endblock %}
